div.box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    background-color: rgb(36, 33, 33);
    text-align: center;
    opacity: 0.9;
  }

p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 1;
}


#form{
    opacity: 1;
    color: white;
    display: flex;
    flex-direction: column;
}
body{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}